
body
{
    color: rgb(13, 3, 12);
  section {
    background:rgb(205, 11, 156);
    padding-bottom: 80px;
    padding-top:80px;
    display:flex;
    justify-content: center;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
}
header {
    border-bottom: solid 2px rgb(5, 136, 197);
    padding: 20px;
    font-size: 32px;
    color: rgb(175, 0, 0)
}
   div{ 
      margin-right: 20px;
  
    }
   .chamada-texto { 
        margin-right: 5% ;
    }
    h1 { 
      font-size: 40px;
      }
      p{
      font-size: 20px
      }
      